* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    z-index: 0;
}

/* Fomrmulário */
.container {
    border: 1px solid red;
}

form,
.container-select,
.container-Carro {
    width: 200px;
    margin: auto;
}

select,
input {
    outline: none;
}

select {
    width: 200px;
    border: 1px solid #e0e0e0be;
    padding: 5px;
}

form input {
    border: 1px solid #e0e0e0be;
    padding: 10px;
    border-radius: 6px;
}

form input:focus,
select:focus {
    border: 1px solid #4fabf7;
}

#inEnviar {
    padding: 10px;
    border: none;
    background-color: #4fabf7;
    border-radius: 6px;
    color: #fff;
}

/* Modal */

.modal {
    width: 200px;
    padding: 20px 25px;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.background-modal {
    width: 100%;
    z-index: 1;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0000004f;
    display: none;
    align-items: center;
    justify-content: center;
}

#fecharModal {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: #c72929;
    color: #fff;
}

#fecharModal:hover {
    background-color: #4fabf7;

}
/*Checkbox carro*/

